.edit-container {
//   margin-left: 50px;
//   margin-right: 50px;
form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
}

// .user-description-container {
//   display: flex;
//   align-items: center;
//   max-width: 800px;
//   margin: -144px auto 0 auto;
//   .img-circle {
//     width: 200px;
//   }
//   .content {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex: 1 0 auto;
//     padding: 20px;
//     color: white;
//   }
// }
