.pages-home {
    background-image: linear-gradient(to bottom, rgba(13, 82, 118, 0.3), rgba(43, 113, 177, 0.8)), url('stockowl_bg_static.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // display: flex;
    // justify-content: space-between;
    // flex-direction: column;
}

// .banner {
//   color: white;
//   background-size: cover !important;
// }

.home-investor-image {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}

.home-investor-card {
  display: flex;
  margin: 10px;
  align-items: center;
  background-color: white;
}

.home-investor-card-content {
  font-color: grey;
  margin: 10px;
  width: 100%;
  // width: calc(100% - 200px);
  h4 {
    color: grey;
    font-size: 23px;
  }
  h5 {
    color: grey;
    font-size: 17px;
  }
}

.home-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn btn-primary {
  color: white;
  // text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  background: #0D5276;
  letter-spacing: 1px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  &:hover {
    text-decoration: none;
    color: #BE3E31;
    cursor: pointer;
  }
}

.home-events-card {
  display: flex;
  margin: 10px;
  align-items: center;
  background-color: white;
}

.home-events-card-content {

}

.home-events-image {

}

// Specific CSS for your home-page


.home-market-indexes-image {
  width: 100vw;
}

.home-news-card {
  margin: 10px auto;
  background-color: white;
  font-size: 11px;
  margin-top: 60px;
  box-shadow: 2px 2px 8px rgba(1,1,1,0.2);
  border: 1px solid #d2d2d2;
  .date {
    font-style: italic;
    margin-bottom: 8px;
  }
  .de-emphasis {
    color: gray;
    font-size: 12px;
  }
  .main-text {
    color: black;
    line-height: 25px;
  }
  a {
    text-decoration: none;
  }
  h4{
    font-size: 20px;
    border-top: 0;
    color: #484545;
  }
  p{
    font-size: 14px;
    margin-top: 0px;
  }
  .content {
    padding: 0px 20px 10px 20px;
  }
  position: relative;
}

.home-news-list-card {
  margin: 60px auto;
  background-color: white;
  font-size: 11px;
  h4{
    font-size: 20px;
    border-top: 0;
  }
  p{
    font-size: 14px;
    margin-top: 0px;
  }
  position: relative;
}

.home-news-card-content{
  font-size: 12px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  h5{
    font-size: 18px;
    text-decoration: none;
    color: #6f6f6f;
  }
  a {
    text-decoration: none;
  }
  .home-news-main-site {
    a {
      text-decoration: none;
      color: #b9b9b9;
    }
  }
}

.home-news-main-site {
  font-size: 12px;
}

.home-news-image {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}

