<div class="contact_us_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 25%), url('<%= image_path 'stockowl_contact_us_num.png' %>');">
<!--   <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p> -->
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<div class="contact_us_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 25%), url('<%= image_path 'stockowl_contact_us_email.png' %>');">
  <div class="banner-content">
<!--     <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p> -->
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>

<div class="contact_us_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 25%), url('<%= image_path 'stockowl_contact_us_location_venice.png' %>');">
  <div class="banner-content">
<!--     <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p> -->
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>
