<div class="faq-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 25%), url('<%= image_path 'stockowl_faq_banner.jpg' %>');">
  <div class="faq-banner-content">
    <h1>FAQ</h1>
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="faq-content">
  <h2>Our website is full of financial formulas & terms used in the financial and investment world. If you don't understand something you see on our website, have a look below! </h2>

  <h4>What is a portfolio?</h4>
  <p>A collection of stocks currently owned by an investor.</p>

  <h4>What is a ticker?</h4>
  <p>A ticker is an abbreviation used to identify publicly traded shares of a particular stock.</p>

<h4>What is a sector?</h4>
  <p>A sector is an area of the economy in which businesses share the same or a related product or service.

Read more: Sector http://www.investopedia.com/terms/s/sector.asp#ixzz4qf8iUgFa
Follow us: Investopedia on Facebook</p>





  <h4>What is a Market Cap?</h4>
  <p>Market cap = current stock price * total number of shares outstanding</p>
  <p>Market cap is the.....</p>

  Market cap ($ mil) = current stock price * total number of shares outstanding of a stock.

  <h4>What is ....?</h4>
  <p>Shares = number of shares currently owned by investor</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>Market value = shares * current price of the stock</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>Total value of portfolio  = market value of all stocks owned</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>% weight = ( market value / total value of portfolio) * 100</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>% share change from last period = ( number of shares from current quarter - number of shares from last quarter ) / number of shares from last quarter</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>Trade impact = cannot find definition online</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>% shares outstanding = (shares / total number of shares outstanding) * 100</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p>3M change % = (( average stock price from current quarter - average stock price from last quarter ) / average stock price from last quarter  ) * 100</p>
  <p>Explain here.....</p>

  <h4>What is ....?</h4>
  <p> YTD change % = (( average stock price from current quarter - average stock price from January 1 of the current year ) / average stock price from January 1 of the current year ) * 100</p>
  <p>Explain here.....</p>



  <h4>**(is this needed)</h4>
  portfolio_trackers (user) **(is this needed)

  $ change = curent stock price - stock purchase price

  % change = (( curent stock price - stock purchase price ) / stock purchase price ) * 100

  $ market value = number of shares held * current stock price

  % weight = ( market value / total value of portfolio) * 100

</div>
