<div class="faq-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 25%), url('<%= image_path 'stockowl_faq_banner.jpg' %>');">
  <div class="faq-banner-content">
    <h1>FAQ</h1>
    <h2>Frequently Asked Questions</h2>
  </div>
</div>

<div class="faq-content">
  <h2>Our website is full of financial formulas & terms used in the financial and investment world. If you don't understand something you see on our website, have a look below! </h2>

  <h4>What is a Portfolio?</h4>
  <p>A collection of stocks currently owned by an investor.</p>

  <h4>What is a Ticker?</h4>
  <p>A ticker is an abbreviation used to identify publicly traded shares of a particular stock.</p>

  <h4>What is a Sector?</h4>
  <p>A sector is an area of the economy where businesses share similar or related products or services.

    <h4>What is Market Cap ($1,000,000)?</h4>
    <p>Market cap, short for market capitalization is the overall value of a company traded on the stock market. This value is expressed in units of 1 million dollars.</p>
    <p>Market cap = current stock price * total number of shares outstanding</p>

    <h4>What is the Number of Shares?</h4>
    <p>The number of shares of a particular stock currently owned by an investor.</p>

    <h4>What is the Value($1000)?</h4>
    <p>The value of the shares of a particular stock currently owned by an investor. Expressed in units of 1000 dollars.</p>
    <p>Value = current stock price * number of shares owned by investor</p>

    <h4>What is % Weight?</h4>
    <p>% Weight represents the % ratio of the value of a particular stock owned by an investor compared to the total value of all stocks in that investor's portfolio</p>
    <p>% Weight = ( value of a stock / total value of portfolio ) * 1000</p>

    <h4>What is % Share change from last Q?</h4>
    <p>The % ratio of the change in the amount of shares of a particular stock owned by an investor compared to the last quarter</p>
    <p>% Share change from last Q = (( current number of shares - last quarter number of shares ) / last quarter number of shares )) * 100</p>

    <h4>What is % Shares outstanding?</h4>
    <p>The % ratio of the number of shares of a particular stock owned by an investor compared to the total number of shares outstanding of that stock.</p>
    <p>% shares outstanding = ( number of shares / total number of shares outstanding ) * 100</p>

    <h4>What is 3M % Change?</h4>
    <p>The % change in price of a stock during the last 3 months.</p>
    <p>3M % change = (( current stock price - stock price 3 months ago ) / stock price 3 months ago ) * 100</p>

    <h4>What is YTD % Change?</h4>
    <p>The % change in price of a stock since the first trading day of the current year.</p>
    <p>YTD % change = (( current stock price - stock price on the first trading day of the current year) / stock price on the first trading day of the current year ) * 100</p>

  </div>
