<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render partial: "highlighted_article" %>
      </div>
       <div class="col-md-6">
      <%= render partial: "news_list" %>
      </div>
  </div>
</div>

<center>
<h2>COMING SOON:</h2>
<h3>Market Index table/chart</h3>
<h3>MeetUp event list?</h3>
</center>
