<div class="container">
  <div class="tour_card">
    <div class="col s12 m4 l8">
      <h3>
        How it works!
      </h3>
      <p>
        You may be a stock market noob, novice investor, or intermediate day-trader seeking reliable resources to assist in your daily trading as you work towards maximum returns.
      </p>
      <p>
        Lucky, we at StockOwl have compiled data from S.E.C F13 forms filed by America's top investors to bring you the knowledge you need to trade like the masters.
      </p>
      <p>
        Join us by signing up for a free account, and get started on your investment journey with us.
      </p>
    </div>
  </div>
</div>

<center>
  <p>
    With your free account, you can...
  </p>
</center>

<div class="container">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="tour_benefits">
        <p>
          track master investor's portfolios
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="tour_benefits">
        <p>
          join an investment MeetUp group
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="tour_benefits">
        <p>
          join an investment MeetUp group
        </p>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="tour_benefits">
        <p>
          even catch up on the latest news
        </p>
      </div>
    </div>
  </div>
</div>
</div>
