<div class="container">
  <div class="tour_card">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
      <div class="banner-content">
        <h3>
          How it works!
        </h3>
        <p>
          You may be a stock market noob, novice investor, or intermediate day-trader seeking reliable resources to assist in your daily trading as you work towards maximum returns.
        </p>
        <p>
          Lucky, we at StockOwl have compiled data from S.E.C F13 forms filed by America's top investors to bring you the knowledge you need to trade like the masters.
        </p>
        <p>
          Join us by signing up for a free account, and get started on your investment journey with us.
        </p>
      </div>
    </div>
  </div>
</div>


<center>
  <p>
    With your free account, you can...
  </p>
</center>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "bar-chart.png" %>
        <p class="text-center," style="margin-top: 20px">
          track master investor's portfolios
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "screen.png" %>
        <p class="text-center," style="margin-top: 20px">
          build your own demo portfolio
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "cheers.png" %>
        <p class="text-center," style="margin-top: 20px">
          join an investment MeetUp group
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "news.png"%>
        <p class="text-center," style="margin-top: 20px">
          even catch up on the latest news
        </p>
      </div>
    </div>
  </div>
</div>
