
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawVisualizationForModal<%= stock_id %>);

    function drawVisualizationForModal<%= stock_id %>() {
      // Some raw data (not necessarily accurate)
      var data = google.visualization.arrayToDataTable([
       ['Quarter', 'Q End Shares', 'Average price'],
       ['2015Q1', 1000, 215],
       ['2015Q2', 1500, 220],
       ['2015Q3', 2000, 230],
       ['2015Q4', 1000, 215],
       ['2016Q1', 500, 200]
    ]);

  var options = {
    // title : 'Monthly Coffee Production by Country',
    // series: {2: {targetAxisIndex:1}},
    // vAxes: {1: {title:'Losses',textStyle: {color: 'red'}}},

    vAxis: {title: 'Quarter end shares'},
    hAxis: {title: ''},
    chartArea: {width:'60%',height:'80%'},
    height: 350,
    width: 700,
    seriesType: 'bars',
    series: {1: {type: 'line'}}
  };

  var chart = new google.visualization.ComboChart(document.getElementById('chart_div<%= stock_id %>'));
  chart.draw(data, options);
}
  </script>

  <div id="chart_div<%= stock_id %>" style="width: 1200px; height: 350px;"></div>
