 <div class="investors-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 bg-img-investors" style="background-image: linear-gradient(-1deg, rgba(199, 199, 199, 0.15) 0%, rgba(213, 222, 226, 0.57) 154%), url(/assets/pexels-20cf056….jpg), url('<%= image_path "pexels.jpg" %>');">
      <!-- THIS IS THE OVERVIEW ON THE LEFT -->
        <%= render partial: "investors_overview" %>
      </div>
      <div class="col-xs-6">
      <!-- THIS IS THE HIGHLIGHT ON THE RIGHT -->
        <%= render partial: "investor_highlight" %>
      </div>
    </div>
  </div>
</div>
