.card-reservation {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
  color: #88C5CC;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  h3 {
    margin-top: 0;
  }
}

#preview {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  flex-direction: row;
  align-items: flex-start;
  img {
    height: 191px;
  }
  ul {
    li {
      font-size: 16px;
      line-height: 39px;
      text-align: left;
      font-variant: petite-caps;
    }
  }
  .content {
    flex: 0 0 50%;
  }
}

.investor-card-highlighted {
  height: 100vh;
  position: fixed;
  top: 70px;
  width: 500px;
}

.card-reservation-container {
  position: absolute;
  bottom: -100px;
  width: 100%;
  z-index: 10;
}
.card-content-reservation {
  color: grey;
}
.investor-card-description {
  margin: 20px 0px;
  box-shadow: 2px 2px 8px rgba(1,1,1,0.2);
  border-radius: 2px;
  margin: 20px 0px;
  justify-content: space-between;
  margin: 20px 5px;
  background-color: rgba(232, 234, 237, 0.42);
  display: flex;
  min-height: 191px;
  align-items: center;
  img {
    margin: 0;
    height: 191px;
  }
  .content {
    flex: 0 0 50%;
    text-align: right;
    padding-right: 30px;
    h3 {
      margin: 0;
    }
  }
}
.card-reservation-total-price {
  margin-top: 15px;
}
.reservation-image {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
}
.reservation-card {
  display: flex;
  margin: 20px;
  align-items: center;
  background-color: white;
}

.reservation-card-content {
  margin: 10px;
  width: calc(100% - 200px);
}
.reservation-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.view-btn {
  color: #0D5276;
  text-transform: uppercase;
  padding: 5px 10px;
  // border-radius: 2px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-transition: all .15s ease;
  transition: all .5s ease;
  border: solid;
  &:hover {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.53);
    cursor: pointer;
  }
}
.card-user {
  width: 45%;
  border-radius: 50%;
}

.p-value {
  font-style: italic;
  letter-spacing: 1px;
  color: rgba(58, 195, 157, 0.8);
  -webkit-font-smoothing: subpixel-antialiased;
}
.f-name {
  font-weight: bolder;
  font-size: 15px;
  margin-top: 10px;
  color: gray;
}
// .f-name {
//   font-size: initial;
// }
// .p-value {
//   font-style: italic;
//   // color: rgba(0, 128, 22, 0.72);
// }
.i-name {
  font-size: 28px;
}
.w3-tag.title {
  background-color: #0D5276 !important;
  padding-bottom: 2px !important;
  box-shadow: 2px 2px 8px #888888;
}
.w3-center.w3-padding-64 {
  position: absolute;
  top: -53px;
  padding-left: 200px;
}
