.card-reservation {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
  color: #88C5CC;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  h3 {
    margin-top: 0;
  }
}
.card-reservation-container {
  position: absolute;
  bottom: -100px;
  width: 100%;
  z-index: 10;
}
.card-content-reservation {
  color: grey;
}
.investor-card-description {
height: 400px;
    justify-content: space-around;
    margin: 20px 5px;
  background-color: rgba(166, 168, 171, 0.42);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.card-reservation-total-price {
  margin-top: 15px;
}
.reservation-image {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
}
.reservation-card {
  display: flex;
  margin: 20px;
  align-items: center;
  background-color: white;
}

.reservation-card-content {
  margin: 10px;
  width: calc(100% - 200px);
}
.reservation-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.view-btn {
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  // border-radius: 2px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-transition: all .15s ease;
  transition: all .5s ease;
  border: solid;
  &:hover {
    text-decoration: none;
    color: #0D5276;
    cursor: pointer;
  }
}
.card-user {
  width: 45%;
  border-radius: 50%;
}
.f-name {
  font-size: initial;
}
.p-value {
  font-style: italic;
  -webkit-font-smoothing: subpixel-antialiased;
  // color: rgba(0, 128, 22, 0.72);
}
.i-name {
  font-size: 28px;
}
