.stock-increase {
  color: green;
}

.stock-decrease {
  color: red;
}

.holding-increase {
  color: green;
}

.holding-decrease {
  color: red;
}

.stock-new-buy {
  color: green;
}

.stock-sold-out {
  color: red;
}
