.investor-photo {
  height: 150px;
  border-radius: 5px;
}

.profile-table th, td {
  text-align: left;
}

table.highlighter {
  tr {
    background-color: $light-gray;
    transition: background-color 800ms ease;
    &:hover {
      background-color: #dbe3ff;
    }
  }
th, td {
  padding: 10px;
}
  // .hidden-table {
  //   strong {
  //     color: blue;
  //   }
  // }
}

