.investors-show, .investors-index {
  background-image: image-url('stockowl_bg_static.png');
}
.investor-photo {
  height: 150px;
  border-radius: 5px;
}

.profile-table th, td {
  text-align: left;
}


h3.investor-show-align {
  width: 80vw;
  margin: 20px auto;
  color: #025373;
}

.investor-photo {
  margin-right: 50px;
}

table.highlighter {
  tr {
    background-color: transparent;
    transition: background-color 800ms ease;
    &:hover {
      background-color: #dbe3ff;
    }
  }
  th, td {
    padding: 10px;
  }
  // .hidden-table {
  //   strong {
  //     color: blue;
  //   }
  // }
}

#chart_div {
  width: 400px;
}

table.stocks {
  font-size: 0.8em;
  width: 95vw;
  margin: 50px auto;
  strong {
    font-weight: 700;
  }
}

.profile-table {
  width: 400px;
  td {
    font-variant: all-petite-caps;
  }
}

.spaced {
  height: 80px;
  display: block;
  font-size: 14px;

}

.profile-table td {
  padding: 10px 5px !important;
}

.chevron-group{
  display: flex;
  flex-direction: column;
}

a.spaced {
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .fa {
    color: #0D5276;
  }
}

// .header-small-font {
//   font-size: 11px;
//   .fa {
//     font-size: 14px;
//     color: #0D5276;
//   }
// }

.stock-new-buy {
  font-size: 15px;
}

.stock-sold-out {
  font-size: 15px;
}

td strong {
  font-weight: 700;
}

.extra-space {
  width: 100px;
}
