// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "pages/home";
@import "pages/tour";


body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 70px;
}

.container-custom {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex: 0 0 200px;
  align-items: center;
  justify-content: center;
}
